apiVersion: 1

providers:
  - name: TypeSpeed Dashboards
    orgId: 1
    folder: TypeSpeed
    type: file
    disableDeletion: false
    editable: true

    options:
      path: /etc/grafana/dashboards
